<div class="jumbotron jumbotron-extend">
  <div class="jumbotron-container">
  <h1 class="display-4 site-name">Welcome to my app!</h1>
  <p class="lead jumbotron-text">this is an app that people can post picture to share our memories</p>
  <hr class="my-4">
  <p class="jumbotron-text">If you want to join us,click here</p>
  <div class="button">
    <p class="lead">
      <%=link_to 'Start now!',new_user_path,class:"btn btn-info btn-lg" %>
    </p>
  </div>
  </div>
</div>
